 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('bg.jpeg') no-repeat center center/cover;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login-box {
    background: rgb(27 28 33 / 62%);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); 
    max-width: 400px;
    width: 100%;
    text-align: center;
    transform: translateZ(0);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid aqua;
}

.login-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.3);
}

.login-box h2 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 20px;
    position: relative;
}

.input-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
    transition: border 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.input-group input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.2);
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
}

a,p{
    color: rgba(255, 255, 255, 0.873);
    
}

button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s, transform 0.3s, box-shadow 0.3s;
    margin-top: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:active {
    transform: scale(0.98);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.login-btn {
    background: #007bff;
    color: white;
}

.login-btn:hover {
    background: #0056b3;
}

.divider {
    margin: 20px 0;
    font-size: 14px;
    color: #aaa;
}

.social-login .social-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.social-btn {
    background: #eaeaea;
    color: #333;
    font-size: 14px;
    transition: background 0.3s;
}

.facebook {
    background: #3b5998;
    color: white;
}

.facebook:hover {
    background: #2d4373;
}

.google {
    background: #db4437;
    color: white;
}

.google:hover {
    background: #c23321;
}

.twitter {
    background: #1da1f2;
    color: white;
}

.twitter:hover {
    background: #0d95e8;
}

.register-link {
    margin-top: 20px;
    font-size: 14px;
}

.register-link a {
    color: #007bff;
    text-decoration: none;
}

.register-link a:hover {
    text-decoration: underline;
}